<div class="form">
  <h1>Save or modify</h1>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput readonly [(ngModel)]="object.name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input matInput readonly [(ngModel)]="object.weight" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Symbol</mat-label>
    <input matInput readonly [(ngModel)]="object.symbol" />
  </mat-form-field>
</div>
<div class="form-buttons">
  <button
    mat-raised-button
    style="background-color: #3f51b5; color: white"
    (click)="save()"
  >
    Save
  </button>
  <button
    mat-raised-button
    style="background-color: #3f51b5; color: white"
    routerLink="/add"
  >
    Modify
  </button>
</div>
