<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>SideNav</h1>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side" style="width: 200px">
    <mat-nav-list>
      <mat-accordion>
        <!-- sideBar -->
        <mat-expansion-panel
          style="margin: 0px; border: radius 0px; box-shadow: none"
          ><mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon mat-list-icon>home</mat-icon>
            </mat-panel-title>
            <mat-panel-description>Home</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="table">table</a>
            <a mat-list-item routerLink="form">form</a>
          </mat-nav-list>
        </mat-expansion-panel>
        <!-- sideBarEnd -->
        <!-- *<mat-divider></mat-divider> -->
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-container>
    <div style="margin: 30px; height: 85vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</mat-sidenav-container>
