<div style="margin: auto; width: 50%; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>