<form class="x">
  <label for="field1">Field 1:</label>
  <input type="text" id="field1" name="field1" required      [value]="fieldData.field1"><br><br>

  <label for="field2">Field 2:</label>
  <input type="text" id="field2" name="field2" required readonly="readonly" [value]="fieldData.field2"><br><br>

  <label for="field3">Field 3:</label>
  <input type="text" id="field3" name="field3" required readonly="readonly" [value]="fieldData.field3"><br><br>

  <label for="field4">Field 4:</label>
  <input type="text" id="field4" name="field4" required readonly="readonly" [value]="fieldData.field4"><br><br>
</form>
