<form (ngSubmit)="sendData()" class="addComponent">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input name="name" matInput placeholder="Name" [(ngModel)]="elementName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input
      matInput
      name="weight"
      placeholder="Weight"
      [(ngModel)]="elementWeight"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Symbol</mat-label>
    <input
      matInput
      name="symbol"
      placeholder="Symbol"
      [(ngModel)]="elementSymbol"
    />
  </mat-form-field>
  <button
    (click)="sendData(); router.navigate(['/form'])"
    type="button"
    mat-raised-button
    style="background-color: #3f51b5; color: white"
  >
    View
  </button>
</form>
