<div class="add">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Enter element name"
      [(ngModel)]="elementName"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input
      matInput
      placeholder="Enter element weight"
      [(ngModel)]="elementWeight"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Symbol</mat-label>
    <input
      matInput
      placeholder="Enter element symbol"
      [(ngModel)]="elementSymbol"
    />
  </mat-form-field>
  <button
    routerLink="/form"
    mat-raised-button
    style="background-color: #3f51b5; color: white"
    (click)="saveAndPopulate()"
  >
    View
  </button>
</div>
